<div class="bg-slate-900 h-screen bg-cover bg-center flex items-center justify-center"
     style="background-image: url('assets/bg/bg_smoke.png');">
    <div class="flex flex-col items-center">
        <p class="text-white text-xl lg:text-2xl 2xl:text-5xl mb-3 lg:mb-4 2xl:mb-6">Select a layout</p>
        <div class="flex flex-row gap-3 lg:gap-4 2xl:gap-6">
            <app-button label="Desktop" [routerLink]="'/desktop'"></app-button>
            <app-button label="Mobile" [routerLink]="'/mobile'"></app-button>
        </div>
    </div>
</div>