<app-section-title title="Types of guises"
  subtitle="You can select a guise that applies a bonus to battle earnings, changes your Commander's appearance, and/or applies special effects">
</app-section-title>

<div class="flex flex-row mb-2 lg:mb-4 2xl:mb-8">
  <app-icon-badge class="flex-1" imageUrl="/assets/svg/guise_personal_c.svg" title="National guise"
    subtitle="Guise can only be applied to Commanders from specific nations">
  </app-icon-badge>
  <app-icon-badge class="flex-1" imageUrl="/assets/svg/guise_national_c.svg" title="General guise"
    subtitle="Guise can be applied to all Commanders">
  </app-icon-badge>
</div>