<div class="relative aspect-square group overflow-visible cursor-pointer w-16 lg:w-28 2xl:w-42">
  <div class="absolute inset-0 rounded-s border-2 border-white transition-all duration-300
           group-hover:shadow-[0_0_4px_rgba(255,255,255,0.8),0_0_12px_rgba(255,255,255,0.6),0_0_24px_rgba(255,255,255,0.4)]
           z-10" [ngClass]="{
      'shadow-[0_0_4px_rgba(255,255,255,0.8),0_0_12px_rgba(255,255,255,0.6),0_0_24px_rgba(255,255,255,0.4)]': isSelected
    }"></div>

  <div *ngIf="isApplied" @fadeIn class="absolute bottom-0 right-0 bg-white p-1 z-30">
    <img src="/assets/svg/check.svg" class="h-2 w-2 lg:h-4 lg:w-4 2xl:h-6 2xl:w-6">
  </div>

  <img [src]="imageUrl" [alt]="alt" class="absolute -top-[10px] lg:-top-4 2xl:-top-6 left-1/2 transform -translate-x-1/2
         w-[120%] lg:w-[110%] object-cover
         z-20 pointer-events-none
         overflow-visible" />
</div>